.contenedor {
    width: 105%;
    margin-left: -13%;
    padding: 1.5rem 2rem;
    background-color: #ffffffee;
    border-radius: 1rem;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    text-align: center;
    box-sizing: border-box;
}
